<h3>_Welcome </h3>

<p>This is my Computer Science 719 - Web Technologies Portfolio</p>

<p>I created this as a personal project in order to integrate everything I learnt about Web Technologies during the
    course by the
    University of Auckland while I'm doing the course!</p>
<p>I will be adding more projects and labs as the course progresses. </p>

<p>It might not look fancy now and it might take some time but.... hold my beer... </p>

<p>_Gerald </p>


<div class="line"></div>