<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chocolate Brownie</title>
</head>

<body>
    <h1>Chocolate Brownie</h1>


    This chocolate brownie recipe will make approximately 50 good sized squares, and will only take you 90 minutes from start
    to finish.
    <hr>
    <h2>Ingredients:</h2>

    <ul>
        <li> <strong>330gm</strong> butter</li>
        <li> <strong>1.25 </strong> cups cocoa</li>
        <li><strong>3.5 </strong>Cups sugar</li>
        <li><strong>0.25 </strong>tsp salt</li>
        <li><strong>7 </strong>eggs</li>
        <li><strong>0.5 </strong>tsp vanilla</li>
        <li><strong>1.25 </strong>Cups flour</li>
        <li><strong>2/3 </strong>tsp baking powder</li>
        <li><strong>2 </strong>Cups chocolate chips</li>
        <li><strong>2 </strong>Tbsp icing sugar</li>

    </ul>
    <hr>

    <h2>Method:</h2>

    <ol>
        <li><em>Preheat</em> oven to 150 C</li>
        <li><em>Sift</em> cocoa powder into a large mixing bowl</li>
        <li><em>Melt</em> butter completely and <em>pour</em> over the cocoa powder, <em>mixing</em> until combined</li>
        <li><em>Add</em> sugar, eggs, and vanilla to the bowl</li>
        <li><em>Mix</em> on high speed for 5 minutes until mixture colour lightens</li>
        <li><em>Sift</em> flour, baking powder, and salt into the bowl</li>
        <li><em>Add</em> chocolate chips and mix until just combined</li>
        <li><em>Pour</em> into 30cm x 25cm x 5cm baking tin and bake for 65 minutes, <em>checking</em> periodically over
            the final 10 minutes</li>
        <li>When cooked, brownie should <em>crack</em> slightly around edges but still be soft to touch</li>
        <li>Allow brownie to cool for 10 minutes, then <em>dust</em> with icing sugar and <em>slice</em> into squares</li>
    </ol>

</body>

</html>