<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div style="margin: auto; width: 50%;">
        <h1 style="display: inline">How
            <h3 style="display: inline">small</h3>
        </h1>
        <h1 style="display: inline"> is the smallest animal</h1>

        <p>This text contains special characters. Try to create a web page containing the same text, preserving the formatting.</p>

        <p>Einstein's famous formula is E = mc<sup>2</sup> </p>

        <p>Photosynthesis produces oxygen (O<sub>2</sub> ) and sugar out of water (H<sub>2</sub>O), carbon dioxide (CO<sub>2</sub>)
            and photons from <strike>moonlight</strike> sunlight.</p>

        <p>How many &cent; (cents) are in a $dollar?</p> 

        <p>Whats the exchange rate between the pound, &pound;, and the Yen, &yen;?</p>

        <p>Try to display the &#8364; using hexadecimal or decimal. </p>

        <p>What happened to the suffle&#769;? Did G&#252;nther eat it all?</p>

        <p>This text is &copy;, &trade; and &REG; by Acme corporation.</p>


    </div>



</body>

</html>